* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
  --text-input: #808080;
  --bkgd-tasks: rgba(128, 128, 128, 0.114);
  --bkgd-hover: rgba(128, 128, 128, 0.307);
  }
body{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #252525;
    padding: 0 20% 0 20%;
    }
.title-toDo, span{
    color: var(--text-input);
}
.task-form{
    display: flex;
    justify-content: space-around;
}
button, input{
    width: 100%;
    border-radius: 5px;
    background: var(--bkgd-tasks);
    color: var(--text-input);
    border: 0;
    padding: 10px;
    font-size: 14px; 
}
button{
    box-shadow: 2px 3px 2px #000000Bc;
}

.hidden{
    visibility: hidden;
}
.section-task{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    }
.task-form{
    width: 100%;
    display: flex;
    gap: 5px;
}
#nombre{
    width: 65%;
}
#horario{
    width: 25%;
}
.add-task-btn{
    width: 15%;
}
.add-task-btn:hover {
    background: var(--bkgd-hover);
    box-shadow: none;
    font-size: 13px;
    cursor: pointer;

}
.task-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
}
.task-added{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: solid 1px var(--text-input);
    border-radius: 3px;
}
.task-added span{
    padding: 5px 10px 5px 10px;
}
.task-added img{
    width: 20px;
}
.delete-btn {
    color: var(--text-input);
    margin-right: 0.5rem;
    cursor: pointer;
}
.delete-all-btn:hover{
    background: var(--bkgd-hover);
    box-shadow: none;
    font-size: 13px;
    cursor: pointer;   
}
.task-name-span{
    width: 70%;
}
.task-time-span{
    width: 20%
}

/*MEDIAS QUERIES*/

@media(max-width: 830px){
    #nombre{
        width: 50%;
    }
    #horario{
        width: 45%;
    }
    .add-task-btn{
        width: 95%;
    }
    .task-form{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width: 660px){
    .task-name-span {
        width: 50%;
    }
}
@media(max-width: 360px){
    .task-name-span {
        width: 30%;
    }
}